{% extends "agendarapat/base.html" %}
{% load crispy_forms_tags %}

{% block tabTitle %} Detil Agenda {% endblock tabTitle %}

{% block kontenKiri %}
  <div class="col-lg-8 col-md-6 mb-md-0 mb-4">
      <div class="card">
        
        <div class="card-header pb-0">
          <div class="row">
            {% comment %} Isi Konten Kanan Disini {% endcomment %}
            <div class="col-lg-12 col-12">
              <h4>{{ agenda.judul }}</h4>
              <hr class="horizontal dark mt-0">
              <p>Tanggal: {{ agenda.tanggal }}</p>
              <p>Lokasi: {{ agenda.lokasi }}</p>
              <h6>Peserta Rapat:</h6>
              <ul>
                  {% if peserta_rapat %}
                      {% for peserta in peserta_rapat %}
                          <li>{{ peserta.nama_pegawai }}</li>
                      {% endfor %}
                  {% else %}
                      <p>Tidak ada peserta terdaftar.</p>
                  {% endif %}
              </ul>
              <hr class="horizontal dark mt-0">

              <a class="btn btn-outline-primary btn-sm mb-0 me-3" href="{% url 'create_notulen' agenda.pk %}">Buat Notulen</a>

            </div>
          </div>
        </div>

        <div class="card-body px-0 pb-2">
        </div>

      </div>
  </div>
{% endblock kontenKiri %}