{% extends "admin_notulensi/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block namaTab %}Beranda{% endblock namaTab %}

{% block sideBar %}
    {% comment %} Beranda {% endcomment %}
        <a class="nav-link" href="{% url "home" %}"><div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>Beranda</a>
    {% comment %} Agenda Rapat {% endcomment %}
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                Agenda Rapat
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" href="{% url "create_agenda" %}">Buat Agenda</a>
                <a class="nav-link" href="{% url "list_agenda" %}">Daftar Agenda</a>
            </nav>
        </div>
    {% comment %} Notulensi Rapat {% endcomment %}
        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts2" aria-expanded="false" aria-controls="collapseLayouts2">
            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                Notulensi Rapat
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div class="collapse" id="collapseLayouts2" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" href="#">Buat Notulensi</a>
                <a class="nav-link" href="#">Daftar Notulensi</a>
            </nav>
        </div>
{% endblock sideBar %}

{% block contentApp_hello %}

    
    
{% endblock contentApp_hello %}

{% block contentApp_utama %}
<link rel="stylesheet" href={% static "assets/css/multi-select-tag.css" %}>
<div class="card mb-4 mt-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Buat Agenda Rapat
    </div>
    <div class="card-body">
        <div class="col-md-12">
            <form method="post" id="agenda-form">
                {% csrf_token %}
                {{ form |crispy }}
                
                <label for="peserta">Peserta Rapat</label>
                <select id="peserta" name="peserta[]" multiple></select> <!-- Sesuaikan name menjadi peserta[] untuk array -->
                <hr>
                <button class="btn btn-primary" type="submit">Simpan</button>
            </form>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $.ajax({
            url: '{% url "fetch_employees" %}',
            method: 'GET',
            success: function(data) {
                $('#peserta').empty();
                $.each(data.employees, function(index, employee) {
                    $('#peserta').append('<option value="' + employee.nama + '">' + employee.nama + '</option>');  // value = nama pegawai
                });
                new MultiSelectTag('peserta');
            }
        });

        // Pastikan form dikirim dengan peserta
        $('#agenda-form').submit(function(event) {
            event.preventDefault();

            var formData = $(this).serialize();

            $.ajax({
                url: '{% url "create_agenda" %}',  // Pastikan ini benar
                method: 'POST',
                data: formData,
                success: function(response) {
                    if (response.redirect_url) {
                        // Redirect ke URL detail_agenda dengan pk yang benar
                        window.location.href = response.redirect_url;
                    } else {
                        alert('Error: URL undefined');
                    }
                },
                error: function(response) {
                    alert('Gagal mengirim form.');
                }
            });
        });
    });
</script>

<script src="{% static 'assets/js/multi-select-tag.js' %}"></script>

{% endblock contentApp_utama %}
