{% extends "agendarapat/base.html" %}
{% load crispy_forms_tags %}

{% block tabTitle %} Buat Agenda {% endblock tabTitle %}

{% block kontenKiri %}

  <div class="col-lg-8 col-md-6 mb-md-0 mb-4">
    <div class="card">
      
      <div class="card-header pb-0">
        <div class="row">
          {% comment %} Isi Konten Kanan Disini {% endcomment %}
          <div class="col-lg-12 col-12">
            <h6>Buat Agenda Rapat</h6>
            <p class="text-sm mb-0">
              <form method="post" id="agenda-form">
                {% csrf_token %}
                {{ form |crispy }}
                
                <label for="peserta">Peserta Rapat</label>
                <select id="peserta" name="peserta[]" multiple></select> <!-- Sesuaikan name menjadi peserta[] untuk array -->
                <hr>
                <button class="btn btn-primary" type="submit">Simpan</button>
              </form>
            </p>
          </div>
        </div>
      </div>

      <div class="card-body px-0 pb-2">
      </div>

    </div>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript">
      $(document).ready(function() {
          $.ajax({
              url: '{% url "fetch_employees" %}',
              method: 'GET',
              success: function(data) {
                  $('#peserta').empty();
                  $.each(data.employees, function(index, employee) {
                      $('#peserta').append('<option value="' + employee.nama + '">' + employee.nama + '</option>');  // value = nama pegawai
                  });
                  new MultiSelectTag('peserta');
              }
          });

          // Pastikan form dikirim dengan peserta
          $('#agenda-form').submit(function(event) {
              event.preventDefault();

              var formData = $(this).serialize();

              $.ajax({
                  url: '{% url "create_agenda" %}',  // Pastikan ini benar
                  method: 'POST',
                  data: formData,
                  success: function(response) {
                      if (response.redirect_url) {
                          // Redirect ke URL detail_agenda dengan pk yang benar
                          window.location.href = response.redirect_url;
                      } else {
                          alert('Error: Format tanggal yang dimasukkan salah!');
                      }
                  },
                  error: function(response) {
                      alert('Gagal mengirim form.');
                  }
              });
          });
      });
  </script>

{% endblock kontenKiri %}

{% comment %} {% block kontenKanan %}

  <div class="col-lg-4 col-md-6">
    <div class="card h-100">
      <div class="card-header pb-0">
        <h6>Info Lainnya</h6>
        <p class="text-sm">
          Info lainnya disini ...
        </p>
      </div>
    </div>
  </div>  

{% endblock kontenKanan %} {% endcomment %}
