{% extends "agendarapat/base.html" %}
{% load crispy_forms_tags %}

{% block tabTitle %} Daftar Agenda {% endblock tabTitle %}

{% block kontenKiri %}
  <div class="col-lg-8 col-md-6 mb-md-0 mb-4">
      <div class="card">
        
        <div class="card-header pb-0">
          <div class="row">
            {% comment %} Isi Konten Kanan Disini {% endcomment %}
            <div class="col-lg-12 col-12">
                <h4>Daftar Agenda Rapat</h4>
            </div>
          </div>
        </div>

        <div class="card-body px-0 pb-2">
          <div class="table-responsive">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Judul</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Lokasi</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Jadwal</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Aksi</th>
                </tr>
              </thead>
              <tbody>
                {% for val in agenda %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{val.judul}}</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="avatar-group mt-2">
                      {{val.lokasi}}
                    </div>
                  </td>
                  <td class="align-middle text-center text-sm">
                    <span class="text-xs font-weight-bold"> {{val.tanggal}} </span>
                  </td>
                  <td class="align-middle text-center">
                    <div class="progress-wrapper w-75 mx-auto">
                      <a class="btn btn-outline-primary btn-sm mb-0 me-3" href="{% url 'detail_agenda' val.pk %}">Detil</a>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

      </div>
  </div>
{% endblock kontenKiri %}