{% extends "admin_notulensi/base.html" %}

{% block namaTab %}Konfigurasi{% endblock namaTab %}

{% block sideBar %}

<a class="nav-link" href="{% url "homeKonfigurasi" %}"><div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>Konfigurasi</a>
<a class="nav-link" href="{% url "home" %}">Kembali</a>

{% endblock sideBar %}

{% block contentApp_utama %}
    <div class="card mb-4 mt-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Pengaturan Aplikasi Notulensi Rapat 
        </div>
        <div class="card-body">
            Setting Role..., Setting lainnya...
        </div>
    </div>
{% endblock contentApp_utama %}